.introduction{
  text-align: center; 
}
img{
  width:150px;
  border-radius: 50%;
  margin-top: 50px; 
}
ul li{
 list-style: none;
}
h3{
  color:#ffa500;
  text-transform: uppercase;
}
.fontlink{
 max-width:150px;
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}